/* Navbar */
.nav-container {
    padding-left: 40px;
}

.navbar {
    background-color: #252925;
}

.nav-item {
    padding: 20px;
}

img {
    border-radius: 5px;
}

/* Portfolio cards */
.card {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: floralwhite;
}

.card-body {
    padding: 0px 30px;
}

.site-container {
    padding: 80px 150px;
    width: 100%;
    margin: auto;
}

.card-title {
    text-align: center;
    padding: 15px;
}

h1, h3, li {
    font-family: "Oswald", sans-serif;
}

.portfolio-header {
    background-color: #888D81;
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
}

.portfolio-heading {
    font-size: 3rem;
    padding-bottom: 3rem;
    color: rgb(44 62 80);
    font-weight: 700;
}

#portfolio {
    background-color: #F8F7F8;
}

.page-section {
    padding: 6rem 0;
}

.footer {
    background-color: #84857F;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #fff;
}

.copyright {
    background-color: #252925;
}

.about-section {
    background-color: #9CA092;
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .col-6 {
        width: 100%;
    }

    .site-container {
        padding: 60px 20px;
    }

    .card-body {
        padding: 0px 10px;
    }

    .masthead-avatar {
        max-width: 70%;
    }

    .portfolio-header {
        padding-top: 6rem;
    }
}