body {
    background-image: url("/assets/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.site-container {
    padding: 80px 120px;
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .col-6 {
        width: 100%;
    }
}