/* Navbar */
/* .nav-container {
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
} */

.navbar {
    background-color: #eaefef;
    border-bottom: 8px black solid;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
}

.nav-item {
    padding: 20px;
}

img {
    border-radius: 5px;
}

/* Portfolio cards */
.card {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: floralwhite;
}

.card-body {
    padding: 0px 30px;
}

.site-container {
    padding: 80px 150px;
    width: 100%;
    margin: auto;
}

.card-title {
    text-align: center;
    padding: 15px;
}

h1, h3 {
    font-family: "Oswald", sans-serif;
}

h2, h4 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

li {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.masthead-avatar {
    max-width: 100%;
    padding: 60px 0px;
}

.masthead-heading {
    text-shadow: 5px 5px 3px black;
    font-size: 6rem;
    font-weight: 700;
    color: #e69b0c;
}

.masthead-subheading {
    text-shadow: 5px 5px 3px black;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(10, 177, 177);
}

.portfolio-header {
    background-image: url(/assets/background-img1.webp);
    padding-top: 12rem;
    padding-bottom: 4rem;
    height: 600px;
    background-size: contain;
    border-bottom: 8px black solid;
}

.portfolio-heading {
    font-size: 3rem;
    padding-bottom: 3rem;
    color: rgb(44 62 80);
    font-weight: 700;
}

#portfolio {
    background-color: #F8F7F8;
}

.page-section {
    padding: 6rem 0;
}

.footer {
    background-color: #84857F;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #fff;
}

.copyright {
    background-color: #252925;
}

.about-section {
    background-color: #9CA092;
}

.about-me {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.img-fluid {
    border: 1px black solid;
    border-radius: 3px;
}

.main-portfolio-img {
    height: 300px;
    box-shadow: 9px 8px #999;
    cursor: pointer;
}

.main-portfolio-img:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (max-width: 991px) {
    .about-me {
        flex-direction: column;
    }
}

@media screen and (min-width: 991px) {
    .navbar-brand {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .masthead-avatar {
        padding-top: 120px!important;
    }
}
@media screen and (max-width: 768px) {

    .col-6 {
        width: 100%;
    }

    .site-container {
        padding: 60px 20px;
    }

    .masthead-avatar {
        max-width: 70%;
    }

    .portfolio-header {
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        background-size: cover;
    }

    .main-portfolio-img {
        padding: 15px;
        height: auto;
    }

    .portfolio-item {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .about-me img {
        max-width: 100%;
    }

    .lead {
        padding: 15px;
        text-align: justify;
    }

    .masthead-heading {
        font-size: 4rem;
    }

    .masthead-subheading {
        font-size: 2rem;
    }
}